:javascript
  var panorama, map, panoramaOptions, panorama2, lastobjid = null;
  var streetDriverTimeout = null;
  var sdVisited = [], sdNotVisited = {}, initStreetDrive = true;

  function hideSideBar() {
    $('.hideable').hide();
    $('#pano-container').css('width', '100%');
  }

  function initCityList() {
    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g
    };
    var template = _.template($('#citylist-item-template').html());

    $.get("/cities.json",
      function(data){
        _.each( data.data, function(elem,idx){
          elem.json_data = _.escape(JSON.stringify(elem))
          $('ul.citylist').append(template(elem))
        })

        setTimeout(pickFirstRoute, 1000);
    });
  }

  function linkClosestsToHeading() {
    var links = panorama.getLinks();

    var currentHeading = panorama.getPov().heading;
    var lnks = links.sort(function(a,b){
      var hA = a.heading, hB = b.heading;
      hA = hA < 0 ? hA + 360 : hA;
      hB = hB < 0 ? hB + 360 : hB;
      return Math.abs(currentHeading-hA) > Math.abs(currentHeading-hB);
    });

    return cacheLinks(lnks);
  }

  function travelCity(elem) {
    stopStreetDriver();
    $('.citylist').find('a').removeClass('highlight');
    $(elem).addClass('highlight');
    movePanoramaTo($(elem).data().json);
    setTimeout(startStreetDriver, 2000);
  }

  function movePanoramaTo(data) {
    map.setCenter( data.location )
    panorama2.setPano(data.id)
    panorama.setPov(data.pov)
    panorama.setZoom(data.zoom)
  }

  function cacheLinks(links) {
    var returnLink = null;

    _.each( links, function(elem,idx) {
      if ( _.indexOf( sdVisited, elem.pano ) < 0 ) {
        sdNotVisited[elem.pano] = elem;
      }
    });

    if ( _.indexOf( sdVisited, links[0].pano) < 0 ) {
      returnLink = links[0];
    } else {
      var link = sdNotVisited[_.last(_.keys(sdNotVisited))];
      if ( link === undefined ) { return false; }
      setHeading( link );
      returnLink = link;
    }

    sdVisited.push(returnLink.pano);
    delete sdNotVisited[returnLink.pano]
    return returnLink;
  }

  function pickFirstRoute() {
    clearTimeout( streetDriverTimeout );
    $('.citylist').find('a')[0].click()
    return false;
  }

  function pickNextRoute() {
    clearTimeout( streetDriverTimeout );

    var currentIndex =
        $('.citylist').find('a').index($('.citylist').find('a.highlight')[0]);

    if ( currentIndex + 1 >= $('.citylist').find('a').length ) {
      return pickFirstRoute();
    }

    $('.citylist').find('a')[currentIndex+1].click()
    return false;
  }

  function followLink() {
    var link = linkClosestsToHeading();
    if ( !link ) return pickNextRoute();
    setHeading(link);
    panorama.setPano(link.pano);
    return true;
  }

  function startStreetDriver() {
    if ( streetDriverTimeout ) {
      return;
    }
    sdVisited = [];
    sdNotVisited = {};
    streetDriver();
  }

  function stopStreetDriver() {
    if ( streetDriverTimeout !== null ) {
      clearTimeout( streetDriverTimeout );
      streetDriverTimeout = null;
    }
  }

  function streetDriver() {
    if ( followLink() ) {
      streetDriverTimeout = setTimeout(function() {
         streetDriver()
      }, 3500);
    }
  }

  function setHeading(link) {
    var heading = link.heading;
    if ( heading < 0 ) { heading += 360 }
    var pov = panorama.getPov();
    pov.heading = heading;
    panorama.setPov(pov);
  }

  function initialize() {
    google.maps.streetViewViewer = 'photosphere';
    var start = {lat: 51.4696492, lng: -0.1713387};

    panoramaOptions = {
        position: start,
        mode: 'webgl',
        clickToGo: true,
        addressControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
        },
        linksControl: true,
        panControl:false,
        enableCloseButton: false,
        zoomControlOptions:{
            position:google.maps.ControlPosition.RIGHT_TOP
        },
        motionTracking: false,
        fullscreenControl: true,
        showRoadLabels: false,
        pov: {
          heading: 30.81,
          pitch: -15,
          zoom: 4
        }
    };

    map = new google.maps.Map(document.getElementById('map'), {
      center: start,
      zoom: 14
    });

    panorama = new google.maps.StreetViewPanorama(
                      document.getElementById('pano'), panoramaOptions);
    map.setStreetView(panorama);

    panorama2 = new google.maps.StreetViewPanorama(
                      document.getElementById('pano2'), panoramaOptions);

    google.maps.event.addListener(panorama2, "pano_changed", function() {
       if ( !(panorama2.getPano().match(/F:/)) ) {
         panorama.setPano( panorama2.getPano() );
       }
    });

    setTimeout(initCityList, 1500);
  }
