!!!
%html
  %head
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %meta{:charset => "utf-8"}/
    %title Road Traveller
    = haml(:_css)
    = haml(:_javascript)
  %body
    #info-container.hideable
      #buttons
        .button-container
          %a{ :href => "#", :onclick => "hideSideBar(); return false" } &#8647;
          %a{ :href => "#", :onclick => "startStreetDriver(); return false" } &#x25B6;
          %a{ :href => "#", :onclick => "stopStreetDriver(); return false" } &#9632;
      #cities
        %ul.citylist
      #map
    #pano-container
      #pano
      #pano2

    #citylist-item-template(style = "display: none;")
      %li
        %a{ :href => '#', :onclick => "travelCity(this); return false;", :data => {:json => "{{json_data}}"} }= "{{name}}"

    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initialize"}
      :cdata
